<!DOCTYPE html>
<html lang="en">
<head>
    <title>Collage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Cross-Origin-Opener-Policy" content="same-origin">
    <link href='https://fonts.googleapis.com/css?family=Judson' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: white;
            font-family: 'Judson';
            margin: 0;
        } 
    </style>
</head>
<body >
    <div id="reactEntry">
        Loading ...
    </div>
    <!-- Load JavaScript -->
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>