nav{
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-top: 10px;
  position: relative;
}

.logo{
  margin-right: 40px;
  margin-left: 5px;
}

.link-1, .link-2, .link-3{
  margin-right: 5%;
}

.link-4{
  position: absolute;
  right: 200px;
}

.link-5{
  position: absolute;
  right: 30px;
}

.login{
  background-color: #F3F3F3;
  padding: 8px 50px 8px 50px;
  border-radius: 20px;
  white-space: nowrap;
}

.signup{
  background-color: #8DADFF;
  padding: 8px 50px 8px 50px;
  border-radius: 20px;
  white-space: nowrap;
}

.login:hover, .signup:hover{
  background-color: #FF7C7C;
  color: white;
  transition: 0.4s;
}

nav ul li:first-child {
  margin-left: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

.logo-text{
  color: #FF7C7C;
  font-size: 23px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
}

.story:after, .mission:after, .support:after{
  content: ''; /* Add content after the element */
  position: absolute; /* Position absolute for pseudo-element */
  width: 100%; /* Full width */
  transform: scaleX(0); /* Initial scale of 0 for underline effect */
  height: 2px; /* Height of the underline */
  bottom: 0; /* Align to bottom */
  left: 0; /* Align to left */
  background-color: black; /* Background color of the underline */
  transform-origin: bottom right; /* Set transform origin */
  transition: transform 0.25s ease-out; /* Transition effect for the underline */
}

.story:hover:after, .mission:hover:after, .support:hover:after {
  transform: scaleX(1);
  transform-origin:bottom left;
}

