.home-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.section{
  height: 100vh;
  width: 100%;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle, #8DADFF, #738ED1);
  color: white;
}

.landing-logo {
  width: 200px;
  margin-bottom: 14px;
}

.landing-tagline {
  font-size: 1.5rem;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  margin-bottom: 5px;
}

.landing-description{
  font-size: 1rem;
  font-family: "Helvetica Neue-Regular", Helvetica;
  margin-bottom: 30px;
  text-align: center;
  width: 800px;
}

.landing-video-demo {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 30px;
}

.landing-sign-up-button {
  padding: 10px 50px;
  border: none;
  border-radius: 25px;
  background-color: #f4f4f4;
  color: #8DADFF;
  font-size: 1rem;
}

.landing-sign-up-button:hover{
  background-color: #FF7C7C;
  color: white;
  transition: 0.4s;
  cursor: pointer;
}

.landing-page-box{
  position: relative;
  width: 70vw;
  max-width: 100%;
}

.landing-page-header, .landing-page-text{
  position: absolute;
  z-index: 2;
}

.landing-page-header{
  position: absolute;
  top: 27%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.landing-page-text{
  position: absolute;
  top: 64%;
  left: 23%;
  transform: translate(-50%, -50%);
}

.schedule-image{
  position: absolute;
  width: 10vw;
  height: auto;
  max-width: 100%;
  top: 5%;
  left: 54%;
  z-index: 2;
}

.signup-container{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  gap: 10px;
  grid-column-gap: 5px;
  align-items: center;
  position: absolute;
  width: 20vw;
  height: auto;
  max-width: 100%;
  top: 68%;
  left: 61%;
  z-index: 2;
}

.signup-text{
  grid-column: 1 / -1;
  text-align: center;
}

.signup-input{
  grid-column: 1 / 2;
  border-radius: 20px;
  border: none;
}

.signup-button{
  grid-column: 2 / 3;
  padding: 5px 20px 5px 20px;
  background-color: #8DADFF;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.signup-button:hover{
  background-color: #FF7C7C;
  color: white;
  transition: 0.4s;
}

.main-background-image{
  width: 70vw;
  height: auto;
  max-width: 100%;
  z-index: 1;
}

.main-header{
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 43%;
  left: 20%;
  z-index: 2;
}

.green-text{
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 5%;
  left: 39%;
  z-index: 2;
}

.blue-text{
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 66%;
  left: 12%;
  z-index: 2;
}

.green-logo{
  position: absolute;
  height: auto;
  max-width: 100%;
  top: 13%;
  left: 14%;
  z-index: 2;
}

.blue-logo{
  position: absolute;
  height: auto;
  max-width: 100%;
  top: 64%;
  left: 76%;
  z-index: 2;
}

.end-background{
  display: flex;
  flex-direction: column;
}

.logo-image{
  position: absolute;
  height: auto;
  max-width: 100%;
  top: 23%;
  left: 49%;
  z-index: 3;
}

.end-title{
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 28%;
  left: 42.5%;
  text-align: center;
  z-index: 3;
}

.first-name-text-box{
  position: absolute;
  width: 18vw;
  max-width: 100%;
  top: 43%;
  left: 41.2%;
  z-index: 3;
}

.last-name-text-box{
  position: absolute;
  width: 18vw;
  max-width: 100%;
  top: 51%;
  left: 41.2%;
  z-index: 3;
}

.get-started-link{
  position: absolute;
  width: 18vw;
  height: 6vh;
  max-width: 100%;
  top: 67%;
  left: 41.2%;
  background-color: #B8FFC8;
  text-align: center;
  line-height: 6vh;
  text-decoration: none;
  color: black;
  font-size: 25px;
  border-radius: 10px;
  z-index: 3;
}

.get-started-link:hover{
  background-color: #FF7C7C;
  color: white;
  transition: 0.4s;
}

.log-in-link{
  position: absolute;
  width: 18vw;
  height: 6vh;
  max-width: 100%;
  top: 73%;
  left: 41.2%;
  text-align: center;
  line-height: 6vh;
  text-decoration: none;
  color: black;
  font-size: 14px;
  border-radius: 10px;
  z-index: 3;
}

.log-in-link:hover{
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
}