.main-grid{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

.profile{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}

.search{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
}

.wrapper-grid{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
}