::placeholder {
  color: "#242424";
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

.main-grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

.profile {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
}

.search {
  margin: 10px;
  margin-bottom: 25px;
}

.wrapper-grid {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  grid-column-start: auto span 1;
  grid-row-start: auto span 1;
}

.card:hover {
  cursor: pointer;
}

.card-header {
  padding: 10px;
}

.filter-borders {
  border-width: thin;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.filters-footer {
  display: inline-flex;
  width: 100%;
  margin-right: 10px;
  justify-content: right;
}

.confirm-button {
  padding: 15px 5px 0px 0px;
}

.cancel-button {
  padding: 15px 5px 0px 5px;
}

@media screen and (max-width: 1200px) {
  .wrapper-grid {
    grid-template-columns: 1fr 1fr;
  }
}
